/* This is for your Custom Content. */
.navbar {
	margin-bottom: 4px;
}

.posts-heading {
	font-weight: bold;
	font-size: 1.6em;
	color: lightgreen;
	margin-bottom: 2px;
}

footer {
	margin-top: 32px;
}
